<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">

<html lang="ja">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Picture</title>
  <% if @config.stylesheet %><link rel="stylesheet" type="text/css" href="/css/<%= @config.stylesheet %>"><% end %>
</head>

<body>

  <div class="header"><h1><%= @config.page_title %></h1></div>
  <div class="pageheader"><%= breadcrumbs(@entry) %></h2></div>
  <div class="pagebody">
    <h3>Picture: <%= @picture %></h3>
    <img id="main_picture" src="<%= url_to_picture(@entry, @picture) %>">
  </div>

</body>

</html>
